* {
  margin: 0;
  padding: 0;
}
.container {
  width: 377px;
  height: 290px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
}
.To-Do-List-container {
  width: 345px;
  height: 38px;
  display: flex;
  height: 38px;
  justify-content: start;
  align-items: center;
  width: inherit;
  margin-left: 16px;
}
.tabs_container {
  display: flex;
  gap: 6px;
  align-items: start;
  width: inherit;
  margin-left: 16px;
}
.task_section_container {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 62px;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: red 1px solid;
  
}
